<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Register</title>

    <link rel="stylesheet" href="../../static/register/style.css" />
</head>
<body>
<div class="card">
    <button class="theme-switcher" id="themeSwitcher">Dark Mode🌙</button>
    <h2>Register</h2>
    <form id="registerForm">
        <input type="text" name="login" id="username" placeholder="Username" required minlength="3" />
        <div class="password-container">
            <input type="password" name="password" id="password" placeholder="Password" required minlength="6" />
            <span class="password-toggle" id="togglePassword">👁️</span>
        </div>
        <div id="message" class="message"></div>
        <div id="errorMessage" class="error-message" aria-live="assertive"></div>
        <button type="submit" class="button">Register</button>
    </form>

    <div class="links">
        <a href="/">← Back</a> |
        <a href="/login">Already have an account?</a>
    </div>
</div>
<script src="../../static/register/script.js"></script>
</body>
</html>